<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.superfit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icons_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icons_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperFit">
        <activity android:name=".MainScreen.Details"></activity>
        <activity android:name=".Recipes.SeparateRecipe" />
        <activity android:name=".Exercises.Running" />
        <activity android:name=".Exercises.Crunch" />
        <activity android:name=".Exercises.Squats" />
        <activity android:name=".Exercises.Plank" />
        <activity android:name=".Exercises.PushUp" />
        <activity android:name=".MainScreen.AllExercises" />
        <activity android:name=".Recipes.Recipes" />
        <activity android:name=".MainScreen.MainScreen" />
        <activity android:name=".CodeActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>